# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
# Environment
.env
.venv
venv/
env/

# Data
*.db
*.sqlite
data/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# Project Specific
data/
!src/data/
logs/
logs/
*.log

node_modules/
frontend/node_modules/
